<!DOCTYPE html>
<html lang="en" class="">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Custom URL Shortener</title>

	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
</head>

<body class="pace-done lout_stats30">
	<main id="content" role="main" class="wyniki wyniki_all">
		<div class="container">
			<div class="row">
				<div class="col-12 page_log_in mt-0">
					<h2 class="h1" style="text-align: center;">All Links Analytics</h2>
				</div>

				<div class="url_options url_stats_o" id="1">
					<p class="data_link">April 2, 2022</p>
					<p class="url_link">
						https://www.codechef.com/ratings/all?filterBy=Country%3DIndia&itemsPerPage=15&order=asc&page=1&sortBy=global_rank
					</p>
					<p id="link" class="link_element">
						<a href="/analytics/cc-ranklist" class="short_url_l" target="blank">
							https://rr-url.herokuapp.com/cc-ranklist</a>
					</p>
					<div class="stats_total btn-cutt click_stats btn_norm">
						<div>Total clicks <strong class="allClicks">0</strong></div>
					</div>
				</div>

			</div>
		</div>
	</main>

</body>

</html>